{% load i18n viewflow %}
<vf-page-menu-navigation class="mdc-list">
  <style>
  .forms-list-group .mdc-list-item>i {
    display:none
  }
  .forms-list-group .mdc-list-item>i+i {
    display:inline-block;
  }

 .forms-list-group .mdc-list-item.mdc-list-item--selected>i {
    display:inline-block;
  }

  .forms-list-group .mdc-list-item.mdc-list-item--selected>i+i {
    display:none;
  }
  </style>

  <div class="mdc-list-group forms-list-group">
    <h3 class="vf-page__menu-subheader mdc-list-group__subheader">{{ app.title }}</h3>

    <a class="mdc-list-item mdc-list-item--with-one-line  mdc-list-item--with-leading-icon vf-page__menu-list-item" href="{% reverse viewset 'bank_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Bank application'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'checkout_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Checkout product'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'comment_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Comment form'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'contact_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Contact form'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'hospital_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Hospital registration'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'login_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Login form sample'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'order_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Order services'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'profile_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Profile Edit'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'registration_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Registration form'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'signup_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Sign up'%}</span>
    </a>

    <a class="mdc-list-item vf-page__menu-list-item mdc-list-item--with-one-line mdc-list-item--with-leading-icon" href="{% reverse viewset 'wizard_form' %}">
      <i class="material-icons mdc-list-item__start">radio_button_checked</i><i class="material-icons mdc-list-item__start">radio_button_unchecked</i>
      <span class="mdc-list-item__content">{% trans 'Wizard sample'%}</span>
    </a>

  </div>
  <div class="mdc-list-divider"></div>
</vf-page-menu-navigation>
