{% extends 'base.html' %}
{% load material_form %}

{% block nav_login_cls%}class="active"{% endblock %}

{% block content %}
<h2 class="center">Log in</h2>
<div class="row">
    <div class="col s12 m6 l4 offset-m3 offset-l4">
        <form method="POST">
            {% csrf_token %}
            {% form %}
            {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
            {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
            {% endform %}
            <div class="right">
                <button class="btn" type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}

