html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

body {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*.
   Pages.
*/
.login-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
