html, body {
    height: 100%;
    display: flex;
    flex-direction: column
}

main.container {
    height: 100%;
    padding: 40px;
}

ul.collection {
    border: none;
}

ul.collection li.collection-item {
    border-bottom: none;
}