<div class="input-field">
  <i class="material-icons prefix">all_out</i>
  <input type="text" readonly value="{{ process.planet }}">
  <label class="active">Planet</label>
</div>
<div class="input-field">
  <i class="material-icons prefix">create</i>
  <textarea class="materialize-textarea" readonly>{{ process.description }}</textarea>
  <label class="active">Description</label>
</div>
<div style="padding-left:3em">
  <label>Approved<br/><br/></label>
  <div class="switch">
    <label>
      No
      <input type="checkbox" disabled="disabled" {% if process.approved %}checked{% endif %}>
      <span class="lever"></span>
      Yes
    </label><br/><br/>
  </div>
</div>
{% if process.drop_status %}
<div class="input-field">
  <i class="material-icons prefix">file_download</i>
  <input type="text" readonly value="{{ process.get_drop_status_display }}">
  <label class="active">Drop Status</label>
</div>
{% if process.delivery_report %}
<div class="input-field">
  <i class="material-icons prefix">assignment_finished</i>
  <textarea class="materialize-textarea" readonly>{{ process.delivery_report }}</textarea>
  <label class="active">Delivery Report</label>
</div>
{% endif %}
{% endif %}
