{% load viewflow %}
{% if process.pk %}
{% with process.artifact as shipment %}
<div class="mdc-layout-grid" style="padding:0px">
  <div class="mdc-layout-grid__inner" style="grid-gap: 16px">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-card vf-card">
        <section class="vf-card__header">
          <h1 class="vf-card__title">Shipment #{{ shipment.shipment_no }}
            <small>{% if perms.shipment.change_shipment %}
              <a href="{% url 'admin:shipment_shipment_change' shipment.pk as url %}" class="card-edit no-pjax" target="_blank">(edit)</a>
            {% endif %}</small>
          </h1>
        </section>
        <section class="vf-card__body">
          <table class="vf-list__table">
            <tbody>
              <tr>
                <td colspan="2">
                  <vf-modal-trigger class="vf-modal-trigger--closed">
                    <span class="vf-modal-trigger__helper"></span>
                    <div class="vf-modal-trigger__content">
                      <div class="vf-modal-trigger__button">&times;</div>
                      <vf-img>
                        <img class="responsive-img" src="{% reverse process.flow_class 'process_chart' process.pk %}" alt="flow graph" style="height:100%;max-width:100%"/>
                      </vf-img>
                    </div>
                  </vf-modal-trigger>
                </td>
              </tr>
              <tr>
                <th>Item</th>
                <th>Count</th>
              </tr>
                {% for item in shipment.shipmentitem_set.all %}
              <tr>
                  <td> {{ item.name }} </td>
                  <td> {{ item.quantity }} </td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="2">No items in shipment</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-card vf-card">
        <section class="vf-card__header">
          <h4 class="vf-card__title">Address</h4>
        </section>
        <section class="vf-card__body mdc-typography" style="margin:0px 16px 16px 16px">
          {{ shipment.zipcode }}, {{ shipment.country }}, {{ shipment.city }}, {{ shipment.state }}<br/>
          {{ shipment.address }} <br/><br/>
          <strong>Phone:</strong> {{ shipment.phone }}
        </section>
      </div>
    </div>

    {% if shipment.carrier or shipment.insurance %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-card vf-card">
        <section class="vf-card__header">
          <h4 class="vf-card__title">Delivery</h4>
        </section>
        <section class="vf-card__body mdc-typography" style="margin:0px 16px 16px 16px">
          <strong>Carrier:</strong> {{ shipment.carrier.name }}
          {% if perms.shipment.change_carrier %}
              <a href="{% url 'admin:shipment_carrier_change' shipment.carrier.pk %}" class="no-pjax" target="_blank">(edit)</a>
          {% endif %}
          <br/>
          {% endif %}
          {% if shipment.insurance %}
          <strong>Insurance:</strong> {{ shipment.insurance.company_name }} {{ shipment.insurance.cost}}
          {% if perms.shipment.change_insurance %}
              <a href="{% url 'admin:shipment_insurance_change' shipment.insurance.pk %}" class="no-pjax" target="_blank">(edit)</a>
          {% endif %}
        </section>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endwith %}
{% endif %}
